/* Default styles */
.home-page header {
  z-index: -1;
  background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75));
}

.home-page h-100 {
  background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75));
}

.home-page video-bg {
  z-index: 2;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-color: #050a23; /* Set the background color */
}

header {
  background-size: cover;
  background-position: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .home-page header {
    /* Adjust styles for smaller screens */
    background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75));; /* Remove background image on smaller screens */
  }
  
  .home-page h-100 {
    /* Adjust styles for smaller screens */
    background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75));; /* Remove background image on smaller screens */
  }
  
  .home-page video-bg {
    /* Adjust styles for smaller screens */
    width: 100%; /* Ensure video width spans the full width */
    height: auto; /* Make video height auto to maintain aspect ratio */
  }
  
  header {
    /* Adjust styles for smaller screens */
    background-size: cover; /* Maintain background image size */
    background-position: center; /* Maintain background image position */
  }
}
